
$app-green:  #59e9df;
$white: #fff;

.mx-auto {
    margin: 0 auto;
}

.toggle-container {
    transition: height .25s ease;
    overflow: hidden;
}
.toggle-container:not(.active) {
    display: none;
}