.sans-serif {
  font-family: "Helvetica Neue", ubuntu, roboto, noto, "segoe ui", arial,
    sans-serif;
}

.bg-app-green {
  background-color: #59e9df;
  color: #000;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.fonts-loaded .archivo-black {
  font-family: "ArchivoBlack", sans-serif;
}

.invisible {
  transition: 400ms;
  transform: translate3d(0, 100px, 0) scale(0.9);
  opacity: 0;
}

.visible {
  transition: 400ms;
  transform: translate3d(0, 0, 0) scale(1);
  opacity: 1;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  pointer-events: none;
  cursor: none;
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn .5s ease-in 1 forwards;
}

.is-paused {
  animation-play-state: paused;
}

@media screen and (min-width: 30em) {
  /* .className-ns */
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  /* .className-m */
}

@media screen and (min-width: 60em) {
  /* .className-l */
}

@media screen and (min-width: 80em) {
  /* .className-xl */
}
