{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% block main %}
	<section>
		<div class="container">
			<div class="center">

				<h1 class="apple">{{ currentSite.name }}</h1>
				<h2 class="fw1 f3 white-80 mt3 mb4">This test site is an example for Riviana Craft sites to define a content model that will work with our SEO recommendations.</h2>
				<logo style="display:none"></logo>
				<a class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-app-green" href="/recipes">Recipes</a>
				<span class="dib v-mid ph3 white-70 mb3">or</span>
				{% set entries = craft.entries.section('productCategories').level('1') %}
				<a class="f6 grow no-underline br-pill white ba b--white ph3 pv2 mb3" href="{{ entries.first().slug }}">Products</a>

			</div>
		</div>
	</section>
{% endblock %}
