<!-- Navigation -->
<nav class="slide-menu" id="slide-menu">
	<ul>
		<li class="timeline"><a href="#">Navigation</a></li>
		<li class="events">
			<span class="slide-menu--reservations-title"><a href="/pasta">Products</span>
			<ul class="slide-menu--reservations">
				<li>Shape
					<ul>
						<li>Long Pasta</li>
						<li>Short Pasta</li>
					</ul>
				</li>
				<li>Type</li>
				<li>Collection</li>
			</ul>
		</li>
		{# <li class="calendar">Create A Skedule</li> #}
		<li class="sep settings"><a href="/products">All Products</a></li>
		{# <li class="logout">Logout</li> #}
	</ul>
</nav>