<!-- Navigation -->
{% if entry.section == 'Recipes' %}
<nav class="dark-nav" style="background-image:url(/{{ globals.darkBackgroundImage.one().url }})">
{% else %}
<nav>
{% endif %}

    <figure>
        <img alt="Logo" src="/{{ globals.logo.one().url }}" />
    </figure>
    {% if entry.section == 'Recipes' %}
        <a href="/">Back to all recipes</a>
    {% endif %}
</nav>